body{
    margin: 0%;
}

#main_wrapper {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 20%;
    display: block;
}

@media screen and (max-width: 768px) {
    #sidebar {
        width: 100%;
        display: block;
        height:40vh;
    }
    #main_wrapper {
        width: 100%;
    }
}